form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

form select {
    text-align: left;
    padding: 6 2 6px;
    width: 63%;
    border: 100px solid #444;
    border-radius: 1px;
    background-color: #444;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

form select:hover {
    background-color: #666;
}

form textarea {
    background-color: #494949;
    color: #fff;
}
form input {
    background-color: #494949;
    color: #fff;
}

form button {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

form button:hover {
    background-color: #666;
}