body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #121212;
    color: #f0f0f0;
}

main {
    padding: 10px;
    max-width: 1200px;
    margin: 20px auto;
    background: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255,255,255,0.05);
}



header {
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 15px 20px;
    text-align: center;
}

h1, h2 {
    margin: 10px 0;
    color: #ffffff;
    /* text-align: center; */
}




form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input {
    background-color: #2b2b2b;
    color: #fff;
}

form button {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

form button:hover {
    background-color: #666;
}






nav {
    background-color: #2a2a2a;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}





footer {
        background-color: #1e1e1e;
        color: #ffffff;
        padding: 15px 20px;
        text-align: center;
}
