table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #ffffff;
}

th {
    background-color: rgb(168, 168, 168);
    color: white;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

